<div class="container">
  <div class="row">
    <h3><em> Add Piece to the Band Librarian Database: </em></h3>
    <div class="col-sm-3 col-sm-offset-2">
      <input type="text" ng-model="newPiece.title" placeholder="Title"></input><br><br>
      <input type="text" ng-model="newPiece.composer" placeholder="Composer"></input><br><br>
      <input type="text" ng-model="newPiece.arranger" placeholder="Arranger"></input><br><br>
      <input type="text" ng-model="newPiece.year" placeholder="Year"></input><br><br>
      <input type="text" ng-model="newPiece.publisher" placeholder="Publisher"></input><br><br>
      <input type="text" ng-model="newPiece.grade" placeholder="Grade"></input><br><br>
      <button id="submit" class="btn btn-default btn-lg" ng-click="addPiece()">Submit</button>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <input type="checkbox" name="Attributes" value="technical" ng-model="newPiece.technical"> Technical
      <br>
      <input type="checkbox" name="Attributes" value="lyrical" ng-model="newPiece.lyrical"> Lyrical
      <br>
      <input type="checkbox" name="Attributes" value="hasSolos" ng-model="newPiece.hasSolos"> Has Solos
      <br>
      <input type="checkbox" name="Attributes" value="largePercussion" ng-model="newPiece.largePercussion"> Large Percussion Section Needed
      <br>
      <input type="checkbox" name="Attributes" value="smallPercussion" ng-model="newPiece.smallPercussion"> Small/ No Percussion Section Needed
    </div>
  </div>  
</div>