<div  class="subTitle">  
  <h2>Log In here</h2>
  <p class="directions">Please log in to ensure the quality of our website. You may continue as "guest", but you will not be able to add pieces, add advice, or vote.</p>
</div>
<div class="container loginButtons">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">    
      <a href="#" class="btn btn-primary" ng-click="login('facebook')">Facebook</a>
      <a href="#" class="btn btn-primary" ng-click="login('twitter')">Twitter</a>
      <a href="#" class="btn btn-primary" ng-click="login('github')">GitHub</a>
      <a href="#" class="btn btn-primary" ng-click="loginAnon()">Guest</a>
    </div>
  </div>
<div>