<section>
  <div>
      <h1 >Edit Piece</h1>
      <input type="text" ng-model="selectedPiece.title" placeholder="title">
      <input type="text" ng-model="selectedPiece.composer" placeholder="composer">
      <input type="text" ng-model="selectedPiece.publisher" placeholder="publisher">
      <input type="text" ng-model="selectedPiece.arranger" placeholder="arranger">
      <input type="text" ng-model="selectedPiece.grade" placeholder="grade">
      <input type="button" ng-click="submit(selectedPiece)" value="Submit Changes">
  </div>
</section>