<section>
  <div>
      <h1 >Edit Piece</h1>
      <input type="text" ng-model="selectedPiece.title" placeholder="title">
      <input type="text" ng-model="selectedPiece.composer" placeholder="composer">
      <input type="text" ng-model="selectedPiece.publisher" placeholder="publisher">
      <input type="text" ng-model="selectedPiece.arranger" placeholder="arranger">
      <input type="text" ng-model="selectedPiece.grade" placeholder="grade">
      <input type="button" ng-click="submit(selectedPiece)" value="Submit Changes">
      <br>
      <input type="checkbox" name="Attributes" value="technical" ng-model="selectedPiece.technical"> Technical
      <br>
      <input type="checkbox" name="Attributes" value="lyrical" ng-model="selectedPiece.lyrical"> Lyrical
      <br>
      <input type="checkbox" name="Attributes" value="hasSolos" ng-model="selectedPiece.hasSolos"> Has Solos
      <br>
      <input type="checkbox" name="Attributes" value="largePercussion" ng-model="selectedPiece.largePercussion"> Large Percussion Section Needed
      <br>
      <input type="checkbox" name="Attributes" value="smallPercussion" ng-model="selectedPiece.smallPercussion"> Small/ No Percussion Section Needed
      <br>
      <h2>Advice: </h2>
      <div ng-repeat="advice in adviceList" class="adviceEntry">
        <p>{{advice.contents}}</p>
        <p>{{comment.rating}}</p>
        <p>{{advice.rating}} </p>
        <p>people found this advice helpful</p>
        <input type="button" ng-Click="vote(advice)" value="+1 Good Advice!">
      </div>
      <br>
      <div class="form-group">
        <label for="Advice"> Add Advice:</label>
        <textarea class="form-control" rows="5" id="Advice" ng-model="adviceObj.contents" placeholder="Enter Useful Advice Here"></textarea>
        <input type="button" ng-click="addAdvice(adviceObj)"  value="Add Advice">
      </div>

  </div>
</section>