<section>
  <div>
      <h1 >Edit Piece</h1>
      <input type="text" ng-model="selectedPiece.title" placeholder="title">
      <input type="text" ng-model="selectedPiece.composer" placeholder="composer">
      <input type="text" ng-model="selectedPiece.publisher" placeholder="publisher">
      <input type="text" ng-model="selectedPiece.arranger" placeholder="arranger">
      <input type="text" ng-model="selectedPiece.grade" placeholder="grade">
      <input type="button" ng-click="submit(selectedPiece)" value="Submit Changes">
      <br>
      <input type="checkbox" name="Attributes" value="technical" ng-model="selectedPiece.technical"> Technical
      <br>
      <input type="checkbox" name="Attributes" value="lyrical" ng-model="selectedPiece.lyrical"> Lyrical
      <br>
      <input type="checkbox" name="Attributes" value="hasSolos" ng-model="selectedPiece.hasSolos"> Has Solos
      <br>
      <input type="checkbox" name="Attributes" value="largePercussion" ng-model="selectedPiece.largePercussion"> Large Percussion Section Needed
      <br>
      <input type="checkbox" name="Attributes" value="smallPercussion" ng-model="selectedPiece.smallPercussion"> Small/ No Percussion Section Needed
  </div>
</section>