<div class="subTitle">
  <h2 class="inline">{{selectedPiece.title}} by {{selectedPiece.composer}} </h2>
  <a href="/#/edit/{{selectedPiece.$id}}"><button class="btn btn-default"ng-click="edit(piece)" value="Edit">Edit</button></a>
</div>
<div class="container">
  <div class="row fullView">
    <div class="col-sm-3 col-sm-offset-2">
      <p>Arranger: {{selectedPiece.arranger || "none"}}</p>
      <p>Publisher: {{selectedPiece.publisher || "not available"}}</p>
      <p>Grade: {{selectedPiece.grade}} </p>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <p>Technical: {{selectedPiece.technical || "no info"}}</p>
      <p>Lyrical: {{selectedPiece.lyrical || "no info"}}</p>
      <p>Has Solos: {{selectedPiece.hasSolos || "no info"}}</p>
      <p>Requires a large percussion section: {{selectedPiece.largePercussion || "no info"}}</p>
      <p>Little or no percussion section required: {{selectedPiece.smallPercussion || "no info"}}</p>
    </div>
  </div>
</div>
<h3 class="adviceLabel">Advice: </h3>
<div ng-repeat="advice in adviceList | orderBy:'-rating':reverse " class="adviceEntry">
  <p>{{advice.contents}}</p>
  <p><a href="{{advice.url}}">{{advice.linkText}}</a></p>
  <div>
    <p class="inline">{{advice.rating}} </p>
    <p class="inline">people found this advice helpful</p>
  </div>
  <input type="button" ng-Click="vote(advice)" value="+1 Good Advice!">
</div>