<div ng-hide="notLoaded" class="loading">
  <p>Please wait while we scurry around and find your library</p>
</div>
<div class="search">  
  <h4>Search by Title, Composer, Arranger, or Publisher:</h4>
  <input type="text" ng-model="searchPieces" placeholder="Search here" id="searchBox"/>
</div>


  <div ng-repeat="piece in pieces | filter: searchPieces | orderBy: 'title'">

    <div class="homeEntry">
      <h3>{{piece.title}}</h3>
      <h4>Grade {{piece.grade}}</h4>
      <h5>{{piece.composer}}</h5>
      <a href="/#/edit/{{piece.$id}}"><button ng-click="edit(piece)" value="Edit">Edit</button></a>
      <a href="/#/piece/{{piece.$id}}"><button ng-click="" value="Full View">Full View</button></a>
    </div>
  </div>












     