<div ng-hide="notLoaded" class="loading">
  <p>Please wait while we scurry around and find your library</p>
</div>
<div class="search">  
  <h4>Search by Title, Composer, Arranger, or Publisher:</h4>
  <input type="text" ng-model="searchPieces" placeholder="Search here" id="searchBox"/>
</div>


  <div ng-repeat="piece in pieces | filter: searchPieces | orderBy: 'title'">

    <div class="homeEntry">
      <h3>{{piece.title}}</h3>
      <a href="/#/edit/{{piece.$id}}" class="editBtn"><input type="button" ng-click="edit(piece)" value="Edit"></a>
      <a href="/#/piece/{{piece.$id}}" class="viewBtn"><input type="button" ng-click="" value="Full View"></a>
      <h4>Composer {{piece.composer}}</h4>
      <h4> Grade {{piece.grade}}</h4>
    </div>
  </div>












     