<div class="search">  
  <h4>Search by different attributes:</h4>
  <input type="checkbox" ng-model="attributes.lyrical"> Lyrical
  <input type="checkbox" ng-model="attributes.hasSolos"> hasSolos
  <input type="checkbox" ng-model="attributes.technical"> technical
  <input type="checkbox" ng-model="attributes.largePercussion"> largePercussion
  <input type="checkbox" ng-model="attributes.smallPercussion"> smallPercussion
  <!-- <input type="button" ng-click="searchPieces()" value="Search"> -->
</div>
<div>
  <h4>Grade of piece:</h4>
  <select ng-model="search.grade">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value="mw">Master-work</option>
  </select>
</div>



<div id="wrapper">
<div id="columns">
  <div class="piece" ng-repeat="piece in pieces | filter: search | searchAttributes:attributes ">

  <!-- s -->

    <div class="homeEntry">
      <h3>{{piece.title}}</h3>
      <h4>{{piece.grade}}</h4>
      <h5>{{piece.composer}}</h5>
    </div>

  </div>
</div>
</div> 


